<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Login</title>
	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>

    <h2>Login</h2>
	<div>Login: test_user</div>
	<div>Password: 1111</div>
	<div>
		<form method="post">
			{% csrf_token %}
			<label for="username">Login</label>
			<input type="text" name="username" id="username">
			<label for="password">Password</label>
			<input type="text" name="password" id="password">
			{% if login_error %}
				<label>{{login_error}}</label>
			{% endif %}
			<input type="submit" value="Войти">
		</form>
	</div>

	<footer></footer>
</body>
</html>